body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 35px;
    display: flex;              /* Use flexbox layout */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
    flex-direction: column;
}